<!doctype html>
<html lang="en" ng-app='LunchCheck'>
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller='LunchCheckController'>
     <h1>Lunch Checker</h1>
     <ol>Note for the reviwer:
       <li>I have not counted empty strings as a valid input. Hence, an iput like a,b,,,,,c is stil considered as 3 valid elements</li>
       <li>The message text and input border will change color appropriately</li>
       <li>When the user is typing, no message will be displayed</li>
     </ol>
         <div class="form-group">
             <input id="lunch-menu" type="text" ng-keyup = "clearMessage()" ng-style='borderColor'
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="lunchMenu">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkLunchMenu()">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-style='fontColor' >
           {{message}}
         </div>
   </div>

</body>
</html>
